import React from {quotes}react{quotes};
import PropTypes from {quotes}prop-types{quotes};
import './{componentName}.scss';

const {componentName} = (props) => (
  <div className="{componentName}-comp">
    Test content
  </div>
);

{componentName}.propTypes = {
  // bla: PropTypes.string,
};

{componentName}.defaultProps = {
  // bla: 'test',
};

export default {componentName};
